/* main.css */
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}    
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    width: 100vw;
    height: 100vh;
}
.wrap {
    width : 100%;
    height: 100%;
}
header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    position: relative;
}
.logo {
    /* outline: 1px solid red; */
    width: 110px;
    height: 50px;
    margin-left: 50px;
    margin-top: 10px;
}
.logo > a > img {
    /* outline: 1px solid red; */
    width: 100%;
}
nav {
    /* outline: 1px solid red; */
    position: absolute;
    margin-left: 10%;
    /* margin-top: 3px; */
    width: 71%;
    height: 50px;
    font-weight: 700;
    
}
.depth1 {
    /* outline: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.depth1 > li {
    width: 11%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    height: 25px;
    background-color: #fff;
    overflow: hidden;
}
.depth1 > li:hover {
    overflow: visible;
}
.depth1 > li > .depth2 {
    width: 100%;
    height: 1000px;
    background-color: white;
}
.depth1 > li >.depth2 > li {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: white;
    font-size: 14px;
    font-weight: 600;
    /* outline: 1px solid black;     */
}
.depth1 > li >.depth2 > li > a:hover {
    text-decoration: underline;
    background-color: white;
}
.welcome {
    position: absolute;
    margin-left: 83%;
    margin-top: 5px;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.welcome {
    /* outline: 1px solid red; */
    width: 150px;
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    cursor: pointer;
}
.log_out {
    margin-right: 50px;
    margin-top: 5px;
    width: 100px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
}
footer {
    width: 100%;
    height: 50px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

main {
    width: 100%;
    height: calc(100% - 120px);
    background-color: #efefef;
    padding: 30px 50px;    
}
main > .school_name {
    margin-bottom: 30px;
}
.mainWrap {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    
}
main > .infor_search {
    width: 100%;
    height: 20%;
    border: 1px solid #bbb;
    background-color: #fff;
}
main > .infor_search > .infor_items {
    width: 100%;
    height: 30%;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bbb;
}
.infor_items > .infor_itemBox {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.infor_items > .infor_itemBox > button {
    width: 80px;
    height: 30px;    
    font-weight: 700;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}
.infor_search > .infor_condition {
    width: 100%;
    height: 70%;
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.infor_search > .infor_condition > label {
    width: 250px;
    height: 35px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    /* outline: 1px solid red; */
}
.infor_search > .infor_condition > label:nth-child(1) {
    width: 300px;
}
.infor_search > .infor_condition > label:nth-child(2) {
    width: 350px;
}
.infor_search > .infor_condition > label:nth-child(5) {
    width: 400px;
}
.infor_search > .infor_condition > label:nth-child(6) {
    width: 320px;
}
.infor_search > .infor_condition > label:nth-child(7) {
    width: 320px;
}
.infor_search > .infor_condition > label > select {
    width: 250px;
    height: 100%;
    margin-left: 7px;
    border: 2px solid #ccc;
} 
.infor_search > .infor_condition > label > input {
    width: 150px;
    height: 100%;
    margin-left: 5px;
    border: 2px solid #ccc;
}
.infor_output {
    margin-top: 15px;
    width: 100%;
    height: 80%;
    display: flex;
    background-color: #fff;
    border: 1px solid #ccc;
    /* outline: 1px solid red; */
}
.teacher_output {
    width: 100%;
    /* outline: 1px solid red; */
}
.infor_output > .teacher_output > .infor_output_title {
    width: 100%;
    height: 6%;
    /* outline: 1px solid red; */
    padding-left: 35px;
    padding-top: 10px;
    border-bottom: 2px solid #ccc;
}
.teacher_output_list {
    margin-top: 10px;
    /* outline: 1px solid red; */
}
.infor_output table {
    width: 98%;
    margin: 0 1%;
    border: 1px solid #ccc;
}
.infor_output table, th, td, tr {
    height: 35px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    text-align: center;
}
.point:hover {
    cursor: pointer;
}